{% extends 'core/base.html' %}
{% block header_h1 %}
    La empresa
{% endblock header_h1 %}
{% block header_p %}
    Resumen de todas las areas de la empresa
{% endblock header_p %}
{% block title %}
<div class="d-flex bg-opacity-50 bg-secondary align-items-center justify-content-center " ali style="height: 70px; text-align: center;">
    <h1>Áreas de la empresa</h1>
  </div>
{% endblock title %}
{% block content %}

<section class="pt-4">
    <div class="container px-lg-5">
        <div class="row gx-lg-5">
            {% for area in areas %}
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"> </i></div>
                        <h2 class="fs-4 fw-bold">{{area.nombre}}</h2>
                        <a href="{% url 'empresa:areas_detail' area.id %}"><li>Ver detalle</li></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<div class="mt-5" style="margin-bottom: 50px; text-align: center;">
    <a href={% url 'empresa:areas_create' %}><button type="button" class="btn btn-secondary btn-lg">Crear un area nueva</button>
    </a>
</div> 
{% endblock content %}