{% extends 'core/base.html' %}
{% block title %}
<div class="d-flex bg-opacity-50 bg-secondary align-items-center justify-content-center " ali style="height: 70px; text-align: center;">
    <h1>Empleados de la empresa</h1>
  </div>
{% endblock title %}
{% block header_h1 %}
    Nuestros empleados
{% endblock header_h1 %}
{% block header_p %}
    Aqui puedes ver un detalle de las personas que integran nuestro equipo
{% endblock header_p %}
{% block content %}
{% for empleado in  empleados %}
<p> {{empleado.nombre}} {{empleado.apellido}}</p>
{% endfor %}
<ul>
    <li>
    <a href="{% url 'empresa:empleado_create' %}">Crear un empleado</a>
    </li>
</ul>
{% endblock content%}
    

