{% extends 'core/base.html' %}
{% load static %}
{% block header_h1 %}
    Sobre mí
{% endblock header_h1 %}
{% block content %}
<div class="card text-center">
    <div class="card-header">
      <h5><strong>¡Hola!</strong></h5>
    </div>
    <div class="card-body container">
        <p class="lead fw-bold">Soy <span class="text-primary">Cristian</span>, tengo <span class="text-primary">31 años</span> y nací en la ciudad de <span class="text-primary">Mendoza, Argentina</span>. En <span class="text-primary">2021</span>, me mudé a la linda ciudad de <span class="text-primary">Córdoba</span>, donde he encontrado un hogar y muchas oportunidades.</p>
        <p class="lead fw-bold">Trabajo en <span class="text-primary">Allytech</span>, una empresa especializada     en hosting y cloud, donde exploro y trabajo con muchas tecnologías. La tecnología siempre ha sido una gran parte de mi vida, y me encanta estar al tanto de las innovaciones y avances en este campo.</p>
        <p class="lead fw-bold">Además de mi carrera profesional, disfruto mucho de la <span class="text-primary">programación</span>, dedicando tiempo a aprender y crear nuevos proyectos. La programación es uno de mis pasatiempos favoritos, ya que me permite resolver problemas y crear nuevas ideas.</p>
        <p class="lead fw-bold">En mi tiempo libre, me gusta <span class="text-primary">andar en bicicleta</span>. Es una excelente manera de mantenerme activo, disfrutar del aire libre y explorar nuevos lugares en Córdoba. También me encanta <span class="text-primary">viajar</span> y, siempre que puedo, visito a mi familia en Mendoza, lo que me permite mantenerme conectado con ellos y disfrutar de momentos especiales con ellos.</p>
        <p class="lead fw-bold">¡Gracias por visitar mi página y conocer un poco más sobre mí!</p>
    </div>
  </div>
{% endblock content %}