{% extends 'core/base.html' %}
{% load static %}
{% block header_h1 %}
    Bienvenido/a
{% endblock header_h1 %}
{% block title %}
<div class="d-flex bg-opacity-50 bg-secondary align-items-center justify-content-center " ali style="height: 70px; text-align: center;">
    <h1>Pagina inicial</h1>
  </div>
{% endblock title %}
{% block content %}
<div class="mt-4" style="margin-bottom: 30px; text-align: center;">
    <a href={% url 'empresa:empleados' %}><button type="button" class="btn btn-secondary btn-lg">Ver los integrantes del equipo</button>
    </a>
</div>
<div class="mt-2" style="margin-bottom: 10px; text-align: center;">
    <a href={% url 'empresa:home' %}><button type="button" class="btn btn-secondary btn-lg">Ver áreas de la empresa</button>
    </a>
</div>
{% endblock content %}